<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="The HackFSU Legacy" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Styles (Tachyons) -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />

    <style>
      {% include 'base.css' %}
      {% include 'fade.css' %}
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- Panelbear -->
    <script
      async
      src="https://cdn.panelbear.com/analytics.js?site=KejnydqP6tO"
    ></script>
    <script>
      window.panelbear =
        window.panelbear ||
        function () {
          (window.panelbear.q = window.panelbear.q || []).push(arguments);
        };
      panelbear("config", { site: "KejnydqP6tO" });
    </script>
  </head>
  <body>
    <main>
      <article class="measure lh-copy">{{ content }}</article>
    </main>
  </body>
</html>
